<div class="modal fade" id="modalTask" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTask">Add New Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="my-tasks">
                    {{ form.csrf_token }}
                    <div class="mb-3">
                        <label for="" class="col-form-label">Task:</label>
                        {{ form.name(class_="form-control") }}
                    </div>
                    {{ form.add(class_="btn btn-primary") }}
                </form>
            </div>
        </div>
    </div>
</div>
