{% extends "includes/base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<div class="row">

  <!-- Latest Tasks -->
  <div class="col-lg-8 d-flex align-items-strech">
    <div class="card w-100">
      <div class="card-header">
        <label class="card-title fw-semibold">Latest Tasks</label>
      </div>
      <div class="card-body">
        <div class="table-responsive overflow-auto" style="max-height: 300px;">
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Title</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">List</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Time to Done</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Action</h6>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">Clean kitchen</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-primary rounded-3 fw-semibold">Home</span>
                  </div>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 fs-4">3 Days</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item text-success" href="#">Done</a></li>
                      <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">Clean kitchen</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-primary rounded-3 fw-semibold">Home</span>
                  </div>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 fs-4">3 Days</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item text-success" href="#">Done</a></li>
                      <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">Clean kitchen</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-primary rounded-3 fw-semibold">Home</span>
                  </div>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 fs-4">3 Days</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item text-success" href="#">Done</a></li>
                      <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">Clean kitchen</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-primary rounded-3 fw-semibold">Home</span>
                  </div>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 fs-4">3 Days</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item text-success" href="#">Done</a></li>
                      <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">Clean kitchen</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-primary rounded-3 fw-semibold">Home</span>
                  </div>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 fs-4">3 Days</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item text-success" href="#">Done</a></li>
                      <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">Clean kitchen</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-primary rounded-3 fw-semibold">Home</span>
                  </div>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 fs-4">3 Days</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item text-success" href="#">Done</a></li>
                      <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">Clean kitchen</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-primary rounded-3 fw-semibold">Home</span>
                  </div>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 fs-4">3 Days</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item text-success" href="#">Done</a></li>
                      <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">Clean kitchen</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-primary rounded-3 fw-semibold">Home</span>
                  </div>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 fs-4">3 Days</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item text-success" href="#">Done</a></li>
                      <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Completed Tasks -->
  <div class="col-lg-4 d-flex align-items-strech">
    <div class="card w-100">
      <div class="card-header">
        <label class="card-title fw-semibold">Completed Tasks</label>
      </div>
      <div class="card-body">
        <ul class="list-group overflow-auto" style="max-height: 300px;">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Home
            <span class="badge bg-primary rounded-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Work
            <span class="badge bg-primary rounded-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Gym
            <span class="badge bg-primary rounded-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Gym
            <span class="badge bg-primary rounded-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Gym
            <span class="badge bg-primary rounded-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Gym
            <span class="badge bg-primary rounded-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Gym
            <span class="badge bg-primary rounded-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Gym
            <span class="badge bg-primary rounded-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Gym
            <span class="badge bg-primary rounded-pill">1</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}