{% extends "includes/base.html" %}
{% block title %}My Tasks{% endblock %}
{% block content %}

<div class="row row-cols-1 row-cols-md-4">

  <!-- List Item -->
  <div class="col-lg-12">
    <div class="table-striped">
      <table class="table text-nowrap align-middle w-100">
        <thead class="text-dark fs-4 sticky-top">
          <tr>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Title</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">List</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Time to Done</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Status</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Action</h6>
            </th>
          </tr>
        </thead>
        <div>
          <tbody>
          {% for todo_list in current_user.lists %}
            {% for note in todo_list.notes %}
              <tr>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">{{ note.text }}</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-primary rounded-3 fw-semibold">{{ todo_list.title }} {{ todo_list.icon }}</span>
                  </div>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 fs-4">{{ note.done_att.strftime("%d/%m/%Y")}}</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge {% if note.completed %} bg-success {% else %} bg-warning {% endif %} rounded-3 fw-semibold">{% if note.completed %} Done {% else %} Pending {% endif %}</span>
                  </div>
                </td>
                <td class="border-bottom-0">
                  <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item text-success" href="#">Done</a></li>
                      <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            {% endfor %}  
          {% endfor %}
        </tbody>
        </div>
      </table>
    </div>
  </div>
</div>

{% endblock %}